{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true,
    "failOnWarning": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid" : "off",
    "jsx-a11y/no-static-element-interactions" : "off",
    "jsx-a11y/click-events-have-key-events" : "off",
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      },
      "allowChildren": false
    }],
    "no-underscore-dangle": "off",
    "no-param-reassign": [2, { "props": false }],
    "no-console": [2, { "allow": ["warn", "error"] }]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "location": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
